<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-4.1.1-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/manage_user.css" >
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="bootstrap-4.1.1-dist/js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap-4.1.1-dist/js/bootstrap.min.js"></script>
	<title>添加消费记录</title>
</head>
<body class="bg-light">
	<h2>添加消费记录</h2>
	<br/>
	<form class="form-control" role="form" action="#">  
    	<div class="form-group">
          <labe>消费地点:</label>
          <input type="text" class="form-control" placeholder="输入消费地点">
        </div>
        <div class="form-group">
          <label>消费时间:</label>
          <input type="date" class="form-control" placeholder="输入消费时间">
        </div>
        <div class="form-group">
          <label>消费金额:</label>
          <input type="text" class="form-control" placeholder="输入消费金额">
        </div>
        <button type="submit" class="btn btn-primary">添加</button>
    </form>
</body>
</html>