<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-4.1.1-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/manage_user.css" >
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="bootstrap-4.1.1-dist/js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap-4.1.1-dist/js/bootstrap.min.js"></script>
	<title>删除消费记录</title>
</head>
<body class="bg-light">
  <h2>删除消费记录</h2>
  <br/>
	<form class="form-control" role="form" action="#">  
    <div class="form-group">
      <label for="sel1">选择要删除的记录编号</label>
      <select class="form-control" id="sel1">
        <option>001</option>
        <option>002</option>
        <option>003</option>
        <option>004</option>
      </select>
    </div>	
    <button type="submit" class="btn btn-primary">删除</button>
  </form>
</body>
</html>