<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-4.1.1-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/form.css" >
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="bootstrap-4.1.1-dist/js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap-4.1.1-dist/js/bootstrap.min.js"></script>
    <script>
      
      
    </script>
    <title>用户列表</title>  
  </head>
  <body class="bg-light">

    <div id="body" class="centerbox1">

    <!--表单-->
      <h2>当前用户列表~</h2>
      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>用户编号</th>
            <th>用户姓名</th>
            <th>用户卡号</th>
            <th>选项</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>001</td>
            <td>曹金鹏</td>
            <td>001</td>
            <td><a href="manage_user.html">管理</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </body>

</html>