body{
  padding-top: 40px;/*有顶部固定导航条时设置*/
  padding-bottom: 80px;/*有底部固定导航条时设置*/
}
.centerbox1{
    margin: 0 auto;
    width: 500px;
}
.centerbox2{
  margin: 0 auto;
  width: 200px;
}
#logo{
  width: 200px;
}
